<section class="footer-main-wrapper">
    <div class="internal-container footer clearfix">
        <div class="footer-links">
            <a (click)="redirect('');">Home</a>
            <a (click)="openForm('openSupportForm');">Support</a>
            <a (click)="openForm('openContactForm');">Contact Us</a>
        </div>
        <!-- <div class="footer-logo">
            <div class="header-logo">
                <a (click)="redirect('');">
                    <img src="http://sairuslogic.com/gw-images/logo.png" alt="">
                </a>
            </div>
        </div>

        <div class="footer-columns-wrapper">
            
            <div class="footer-column">
                <h2>Colomn 2</h2>
                <ul>
                    <li>Page 1</li>
                    <li>Page 2</li>
                    <li>Page 3</li>
                </ul>
            </div>
            <div class="footer-column">
                <h2>Colomn 3</h2>
                <ul>
                    <li>Page 1</li>
                    <li>Page 2</li>
                    <li>Page 3</li>
                </ul>
            </div>
        </div>
        <div class="footer-socials">
            <ul>
                <li>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </li>
            </ul>
        </div> -->
        <div class="footer-bottom">
                Copyright © 2018, GetWed Inc., All Rights Reserved
            </div>
    </div>
    
</section>